/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0;
    padding: 0;
}

.cXY {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.cY {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center; }
.cX {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.wh100{width:100%;height:100%}
.lh0 {line-height: 0; padding: 0 !important;}
.enlacefull {top: 0; left: 0; position: absolute; z-index: 99; width: 100%; height: 100%;}
.padding0 {padding: 0 !important;}


@font-face {font-family: nunito;src: url(https://atreslab.com/modulosblancos/static/roscos-pasapalabra/assets/Nunito-Black.woff2);}
@font-face{font-family:helcon; src: url(https://atreslab.com/modulosblancos/static/roscos-pasapalabra/assets/VAGRoundedStd-Bold.woff2)}
@font-face{font-family:"FontAwesome"; src:url(https://cdn.jsdelivr.net/gh/ahmst/ft-common@1.57/fuentes/fontawesome-webfont.woff2?v=4.7.0)}
:root {
    --sizerosco: 680px;
    --white: #fff;
    --white-2: #ededed;
    --white-3: #efeff3; 
    --white-opacity-4: #ffffff4d;
    --black: #000;
    --black-7: #585858;
    --white-opaque: #ffffff24;
    --black-opaque: #00000099;
    --green-bg: #008f39;
    --green-ok: #29ff25;
    --red-ko: #ff1538;
    --start: #03a9f4;
    --orange: #ff8f01;
    --orange-dark: #cb7300;
    --orange-gold: #ffbf4b;
    --yellow: #f6e38c;
    --yellow-0: #fee407;
    --default: #008e93; 
}

@import './assets/scss/roscon/pasapalabra';
@import './assets/scss/nominations/vote-component';
@import './assets/scss/nominations/dashboard-component';